input.ng-invalid.ng-touched{
  border: 1px solid red;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.formdiv1{
  width: 25%;
  background-image: url('/assets/img/1.png');
}