
<!--Footer Component -->

<div style="position: relative;
left: 0;
bottom: 0;
width: 100%;
background-color: #5f3ef1;
color: white;
text-align: center;
height: 130px;
margin-bottom: 0vh;"

>

<!---------------------------------------------------footer------------------------------------------------------------------------------------------->
<div class="container-fluid">
  <div  style="padding-top: 10px;">

  <table style="width:100%" border ="0" width = "100%" height = "100%">

  <tr style="padding-bottom: 20px;">
    <td width="25%" style = "text-decoration: none;font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif; "> Find us</td>
    <td width="25%" style = "text-decoration: none;font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;"> quick Link </td>
    <td width="25%" style = "text-decoration: none;font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;"> Liyons Restaurant & Reception Hall</td>
    <td width="25%" style = "text-decoration: none;font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;"> Follow Us</td>
  </tr>
  <tr>
    <td width="25">
      <span class="material-icons">attach_email </span>
      <a href ="https://www.gmail.com"style = "color:white; font-size:12px; font-family: Georgia, 'Times New Roman', Times, serif;">  E-mail: Liyons@gmail.com </a>
    </td>
    <td width="25">
       <a href =""  style = "color:white;font-size:12px; font-family: Georgia, 'Times New Roman', Times, serif;">Spa </a>
    </td>
    <td width="25">
       <p></p>
    </td>
    <td width="25">
      <span class="material-icons">facebook</span>
       <a href ="https://www.facebook.com" style = "color:white;font-size:12px;font-family: Georgia, 'Times New Roman', Times, serif;"> Facebook</a>
    </td>
  </tr>

  <tr>
    <td width="25">
      <span class="material-icons">call</span>
     <a href="" style = "color:white; font-size:12px;font-family: Georgia, 'Times New Roman', Times, serif;"> Contact us  : +94775665547</a>
    </td>
    <td width="25">
     <a href =""  style = "color:white; font-size:12px; font-family: Georgia, 'Times New Roman', Times, serif;">Restaurant </a>
   </td>
   <td width="25">
    <p style = "color:white; font-size:12px;font-family: Georgia, 'Times New Roman', Times, serif;">we provide your to better service</p>
   </td>
    <td width="25">
    <img class = "tute" src="../../assets/img/youtube.png" width="20" height="20"  alt="youtube">
    <a href ="https://twitter.com/login" style = "color:white; font-size:12px; font-family: Georgia, 'Times New Roman', Times, serif;" class ="alineword"> You Tube </a>
    </td>
  </tr>

  <tr>
    <td width="25">
      <span class="material-icons">place</span>
      <a href="" style = "color:white; font-size:12px;font-family: Georgia, 'Times New Roman', Times, serif;">  No 16, walasmulla-katuwan Road,Middeniya </a>
    </td>
    <td width="25">
      <a href =""  style = "color:white; font-size:12px; font-family: Georgia, 'Times New Roman', Times, serif;">Packages </a>
    </td>
    <td width="25">
      <p ></p>
     </td>
    <td width="25">
    <img class = "insta" src="../../assets/img/instagram.png" width="20" height="20" alt="instagram">
    <a href ="https://www.instagram.com" style = "color:white; color:white; font-size:12px;font-family: Georgia, 'Times New Roman', Times, serif;"class ="alineword">Instagram</a>
    </td>
  </tr>
 </table>
  </div>
