
<!--Footer Component -->

<div style="position: relative;
left: 0;
bottom: 0;
width: 100%;
background-color:#7056da;
color: white;
text-align: center;
height: 250px;
margin-bottom: 0vh;"
>



<!---------------------------------------------------footer------------------------------------------------------------------------------------------->

  <div  class ="">

  <table style="width:100%" border ="0" width = "100%" height = "100%">

  <tr>
    <td width="25%" style = "text-decoration: none;font-size: 30px; font-family: Georgia, 'Times New Roman', Times, serif;"> Find us</td>
    <td width="25%" style = "text-decoration: none;font-size: 30px; font-family: Georgia, 'Times New Roman', Times, serif;"> quick Link </td>
    <td width="25%" style = "text-decoration: none;font-size: 30px; font-family: Georgia, 'Times New Roman', Times, serif;"> Liyons Restaurant & Reception Hall</td>
    <td width="25%" style = "text-decoration: none;font-size: 30px; font-family: Georgia, 'Times New Roman', Times, serif;"> Follow Us</td>
  </tr>
<br>
  <tr>
    <td width="25">
       <img class = "mail" src="../../assets/img/email.png" width="25" height="25" alt="E-mail">
      <a href ="https://www.gmail.com"style = "color:white; font-size:20px; font-family: Georgia, 'Times New Roman', Times, serif;">  E-mail: Liyons@gmail.com </a>
    </td>
    <td width="25">
       <a href =""  style = "color:white;font-size:20px; font-family: Georgia, 'Times New Roman', Times, serif;">Spa </a>
    </td>
    <td width="25">
       <p style = " font-size:20px;font-family: Georgia, 'Times New Roman', Times, serif;">we provide your to better service</p>
    </td>
    <td width="25">
       <img class = "fb" src="../../assets/img/f1.png" width="25" height="25" alt="facebook">
       <a href ="https://www.facebook.com" style = "color:white;font-size:20px;font-family: Georgia, 'Times New Roman', Times, serif;"> Facebook</a>
    </td>
  </tr>

  <tr>
    <td width="25">
     <img class = "Phone" src="../../assets/img/whatapp.jpg" width="25" height="25" alt="phone">
     <a href="" style = "color:white; font-size:20px;font-family: Georgia, 'Times New Roman', Times, serif;"> Contact us  : +94775665547</a>
    </td>
    <td width="25">
     <a href =""  style = "color:white; font-size:20px; font-family: Georgia, 'Times New Roman', Times, serif;">Restaurant </a>
   </td>
   <td width="25">
    <p style = "color:white; font-size:20px;font-family: Georgia, 'Times New Roman', Times, serif;">we provide your to better service</p>
   </td>
    <td width="25">
    <img class = "tute" src="../../assets/img/youtube.png" width="25" height="30" alt="twitter">
    <a href ="https://twitter.com/login" style = "color:white; font-size:20px; font-family: Georgia, 'Times New Roman', Times, serif;" class ="alineword"> You Tube </a>
    </td>
  </tr>

  <tr>
    <td width="25">
      <img class = "add" src="../../assets/img/address.png" width="25" height="25" alt="Address">
      <a href="" style = "color:white; font-size:20px;font-family: Georgia, 'Times New Roman', Times, serif;">  No 16, walasmulla-katuwan Road,Middeniya </a>
    </td>
    <td width="25">
      <a href =""  style = "color:white; font-size:20px; font-family: Georgia, 'Times New Roman', Times, serif;">Packages </a>
    </td>
    <td width="25">
      <p style = "color:white; font-size:20px;font-family: Georgia, 'Times New Roman', Times, serif;">we provide your to better service</p>
     </td>
    <td width="25">
    <img class = "insta" src="../../assets/img/instagram.png" width="25" height="25" alt="instagram">
    <a href ="https://www.instagram.com" style = "color:white; color:white; font-size:20px;font-family: Georgia, 'Times New Roman', Times, serif;"class ="alineword">Instagram</a>
    </td>
  </tr>
   <br>
      <!--- </table>-->
