<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active paddingFont">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item paddingFont">
        <a class="nav-link" [routerLink]="['/cus-view']">Event</a>
      </li>
      <li class="nav-item paddingFont">
        <a class="nav-link" [routerLink]="['home']" >Packages</a>
      </li>
      <li class="nav-item paddingFont">
        <a class="nav-link" routerLink="['']">Restaurant</a>
      </li>
      <li class="nav-item paddingFont">
        <a class="nav-link"routerLink="['']">Spa</a>
      </li>
      <li class="nav-item paddingFont">
        <a class="nav-link"routerLink="['']">Reservation</a>
      </li>
      <li class="nav-item paddingFont">
        <a class="nav-link"routerLink="['']">Supplier</a>
      </li>
      <li class="nav-item paddingFont">
        <a class="nav-link"routerLink="['']">Employee</a>
      </li>

      <li class="nav-item dropdown paddingFont" style="padding-left: 20px;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/homecard']">Admin Login</a>
          <a class="dropdown-item" [routerLink]="['/cus-new']" href="#">User Login</a>
          <a class="dropdown-item" [routerLink]="['cus-view']" href="#">Your profile</a>
          <a class="dropdown-item" [routerLink]="['/home']" href="#">Give Feedback</a>
          <a class="dropdown-item" [routerLink]="['']" href="#">About Us</a>
          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
    <ul></ul>
    <form class="form-inline my-2 my-lg-0 pull-right">
      <input class="form-control mr-sm-2" style="border-color: #5f3ef1;"  type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
