<div class="txt">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active paddingFont">
        <a class="nav-link"[routerLink]="['/homepageNormal']" style="color: white;">Home </a>
      </li>

      <li class="nav-item dropdown paddingFont">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color: white;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Room
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/roomHome']" style="color: white;" >Rooms</a>
            <a class="dropdown-item" [routerLink]="['/roomNew']" href="#" style="color: white;">Reserve a Room</a>
            <a class="dropdown-item" [routerLink]="['/roomView']" href="#" style="color: white;">View Reservation</a>
        </div>
      </li>

      <li class="nav-item dropdown paddingFont">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color: white;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Event
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/eventHome']" style="color: white;">Events</a>
          <a class="dropdown-item" [routerLink]="['/eventNew']" href="#"style="color: white;">Add Event</a>
          <a class="dropdown-item" [routerLink]="['/eventView']" href="#"style="color: white;">View Event</a>
        </div>
      </li>

<li class="nav-item dropdown paddingFont">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"style="color: white;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Packages
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/packHome']"style="color: white;">Packages</a>
          <a class="dropdown-item" [routerLink]="['/packNew']" href="#"style="color: white;">Package Booking</a>
          <a class="dropdown-item" [routerLink]="['/packView']" href="#"style="color: white;">view Bokked Packages</a>
        </div>
      </li>

      <li class="nav-item dropdown paddingFont">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"style="color: white;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Restarunt
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/takeHome']"style="color: white;">Restarunt</a>
          <a class="dropdown-item" [routerLink]="['/takeNew']" href="#"style="color: white;">Food Order</a>
          <a class="dropdown-item" [routerLink]="['/takeView']" href="#"style="color: white;">View Order</a>
        </div>
      </li>

      <li class="nav-item dropdown paddingFont">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"style="color: white;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <Span>Spa</Span>
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/spaHome']"style="color: white;">Spa</a>
          <a class="dropdown-item" [routerLink]="['/spaNew']" href="#"style="color: white;">Add Spa Reservation</a>
          <a class="dropdown-item" [routerLink]="['/spaView']" href="#"style="color: white;">View Spa Reservations</a>
        </div>
      </li>

      <li class="nav-item dropdown paddingFont">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color: white;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Supplier
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/supHome']"style="color: white;">Supplier</a>
          <a class="dropdown-item" [routerLink]="['/supNew']" href="#"style="color: white;">Add Supplier</a>
          <a class="dropdown-item" [routerLink]="['/supview']" href="#"style="color: white;">View Supplier</a>
        </div>
      </li>

      <li class="nav-item dropdown paddingFont" style="padding-left: 20px;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color: white;"role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Employee
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/empNew']"style="color: white;">Employees Home</a>
          <a class="dropdown-item" [routerLink]="['/empHome']"style="color: white;">Add Employee</a>
          <a class="dropdown-item" [routerLink]="['/empView']"style="color: white;">View Employees</a>
          <a class="dropdown-item" [routerLink]="['/attennew']"style="color: white;">Mark Attendance</a>
          <a class="dropdown-item" [routerLink]="['/attenview']"style="color: white;">View Attendance</a>
          <a class="dropdown-item" [routerLink]="['/salaryHome']"style="color: white;">Add Salary</a>
          <a class="dropdown-item" [routerLink]="['/salaryView']"style="color: white;">View Salary</a>

        </div>
      </li>

      <li class="nav-item dropdown paddingFont">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color: white;"role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Customer
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" [routerLink]="['/cusHome']"style="color: white;">Customer</a> -->
          <a class="dropdown-item" [routerLink]="['/cusNew']" href="#"style="color: white;">Add Customer</a>
          <a class="dropdown-item" [routerLink]="['/cusView']" href="#"style="color: white;">View Customers</a>
        </div>
      </li>

      <li class="nav-item dropdown paddingFont">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"style="color: white;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Inventory
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" [routerLink]="['/intHome']"style="color: white;">Inventory</a> -->
          <a class="dropdown-item" [routerLink]="['/intNew']" href="#"style="color: white;">Add Inventory</a>
          <a class="dropdown-item" [routerLink]="['/intView']" href="#"style="color: white;">View Inventory</a>
        </div>
      </li>

      <li class="nav-item dropdown paddingFont">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color: white;"role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Feedback
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/feedbackHome']" href="#"style="color: white;">Feedback</a>
          <a class="dropdown-item" [routerLink]="['/feedbackNew']" href="#"style="color: white;">Give Feedback</a>
          <a class="dropdown-item" [routerLink]="['/feedbackView']" href="#"style="color: white;">View Feedbacks</a>

          <a class="dropdown-item" href="#">About Us</a>
        </div>
      </li>

      <li class="nav-item dropdown paddingFont">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"style="color: white;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Login
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/adminlogin']"style="color: white;">Admin Login</a>
          <a class="dropdown-item" [routerLink]="['/userlogin']" href="#"style="color: white;"><span class="sr-only">(current)</span>User Login</a>
        </div>
      </li>

    </ul>
    <ul></ul>
    <form class="form-inline my-2 my-lg-0 pull-right">
      <input class="form-control mr-sm-2" style="border-color: #5f3ef1;"  type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success btn-primary my-2 my-sm-0" style="color: white;"type="submit">Search</button>
    </form>
  </div>
</nav>
</div>
