.form-group{
  width: 400px;
  margin-left: 160px;

}

.clock{
  display: flex;
  flex-direction: row;
}


.lbl{
  width:150px;
  color: rgb(70, 70, 31);
}

.clockmini{
  width: 145px;
}

#para{
  width:100px;
  text-align: center;
}

.btn{
  margin-left: 350px;
  background-color: blue;
  color: white;
}

.btn:hover{
  background-color: #dedea0;
  color: black;
}

.formdiv1{
  width: 25%;
  background-image: url('/assets/img/s22.jpg');
}

.formdiv2{
  width: 50%;
  background-color:  #808080;
}

.formmain{
  display: flex;

}

#hd1{
  color: purple;
  text-align: center;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
