<h2>Special offers</h2>
<div class="card-deck">
  <div class="card">
    <a [routerLink]="['/takeNew']"><img class="card-img-top" src='../../assets/img/pizza.png' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">Pizza,sea food,Bacon,Chiken</h5>
    </div>
    <div class="card-footer">

    </div>
  </div>
  <div class="card">
    <a [routerLink]="['/takeNew']"><img class="card-img-top" src='../../assets/img/roast.png' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">Roast Pork Lion</h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <a [routerLink]="['/takeNew']"><img class="card-img-top" src='../../assets/img/cala.png' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">Calamarti Fritti</h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <a [routerLink]="['/takeNew']"><img class="card-img-top" src='../../assets/img/grilled lamb chop.jpg' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">Grilled lamb chop</h5>
    </div>
    <div class="card-footer">

    </div>
  </div>
</div>

<h2>Looking for something else?</h2>


<table>
  <tr>
<div class="card-deck">
  <div class="card">
    <a [routerLink]="['/takeNew']"><img class="card-img-top" src='../../assets/img/salad.png' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">SALAD</h5>
    </div>
    <div class="card-footer">

    </div>
  </div>
  <div class="card">
    <a [routerLink]="['/takeNew']"><img class="card-img-top" src='../../assets/img/soup.png' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">SOUP</h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <a [routerLink]="['/takeNew']"><img class="card-img-top" src='../../assets/img/fish.png' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">FISH & MEAT</h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <a [routerLink]="['/takeNew']"><img class="card-img-top" src='../../assets/img/dessert.png' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">DESSERT</h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>
</tr>
<br><br>

<tr>
<div class="card-deck">
  <div class="card">
    <a [routerLink]="['/takeNew']"><img class="card-img-top" src='../../assets/img/snacks.png' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">SNACKS</h5>
    </div>
    <div class="card-footer">

    </div>
  </div>
  <div class="card">
    <a [routerLink]="['/takeNew']"><img class="card-img-top" src='../../assets/img/pizzza.png' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">PIZZA</h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <a [routerLink]="['/takeNew']"><img class="card-img-top" src='../../assets/img/meal.png' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">MAIN MEAL</h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <a [routerLink]="['/takeNew']"><img class="card-img-top" src='../../assets/img/juice.png' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">   JUICE & SMOOTHIES</h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>
</tr>
</table>

