<div style="background-color: #a7ffeb;">
  <table>
    <tr>
      <div style="background-color: #aa8fd6;width:100%;height: 100px; padding-top: 15px;">
        <p class="h2" style="text-align:center">Employee Profiles</p>
      </div>

    </tr>

    <br>
    <tr>
      <h4 style="text-align:left; padding-left: 20px; font-family: sans-serif; font-weight: 700; font-size: 20px;">HR
        DEPARTMENT</h4>
    </tr>
    <br>

    <tr>
      <div class="card-group">
        <div class="card card text-center" style="padding-left:10px; padding-right:10px; padding-top:10px; margin-right: 10px; margin-left: 10px; border-radius: 15px 15px 15px 15px;">
          <img class="card-img-top" style="padding-left:10px; padding-right:10px; padding-top:10px;"
            src="../../assets/img/empdp5.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Hotel Owner</h4>
            <p class="card-text">W.S.H.Weerasingha
            <p>
            <p class="card-text"><small class="text-muted">Joind in 2020</small></p>
            <a href="#" class="btn btn-primary" [routerLink]="['/empHome']">Edit Profile</a>
          </div>
        </div>

        <div class="card card text-center" style="padding-left:10px; padding-right:10px; padding-top:10px; margin-right: 10px; margin-left: 10px; border-radius: 15px 15px 15px 15px;">
          <img class="card-img-top" style="padding-left:10px; padding-right:10px; padding-top:10px;"
            src="../../assets/img/empdp6.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Hotel Manager</h4>
            <p class="card-text">W.H.A.Eishan Dinuka
            <p>
            <p class="card-text"><small class="text-muted">Joind in 2020</small></p>
            <a href="#" class="btn btn-primary" [routerLink]="['/empHome']">Edit Profile</a>
          </div>
        </div>

        <div class="card card text-center" style="padding-left:10px; padding-right:10px; padding-top:10px; margin-right: 10px; margin-left: 10px; border-radius: 15px 15px 15px 15px;">
          <img class="card-img-top" style="padding-left:10px; padding-right:10px; padding-top:10px;"
            src="../../assets/img/empdp7.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Hotel Accountant</h4>
            <p class="card-text">W.S.H.Weerasingha
            <p>
            <p class="card-text"><small class="text-muted">Joind in 2020</small></p>
            <a href="#" class="btn btn-primary" [routerLink]="['/empHome']">Edit Profile</a>
          </div>
        </div>
      </div>
    </tr>

    <br>
    <tr>
      <h4 style="text-align:left; padding-left: 20px; font-family: sans-serif; font-weight: 700; font-size: 20px; margin-right: 10px; margin-left: 10px; border-radius: 15px 15px 15px 15px;">
        SERVICE DEPARTMENT</h4>
    </tr>
    <br>

    <tr>

      <div class="card-group">
        <div class="card card text-center" style="padding-left:10px; padding-right:10px; padding-top:10px; margin-right: 10px; margin-left: 10px; margin-bottom: 10px; border-radius: 15px 15px 15px 15px;">
          <img class="card-img-top" style="padding-left:10px; padding-right:10px; padding-top:10px;"
            src="../../assets/img/empdp1.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Chefs</h4>
            <p class="card-text">W.S.H.Weerasingha
            <p>
            <p class="card-text"><small class="text-muted">Joind in 2020</small></p>
            <a href="#" class="btn btn-primary" [routerLink]="['/empHome']">Edit Profile</a>
          </div>
        </div>

        <div class="card card text-center" style="padding-left:10px; padding-right:10px; padding-top:10px; margin-right: 10px; margin-left: 10px; margin-bottom: 10px; border-radius: 15px 15px 15px 15px;">
          <img class="card-img-top" style="padding-left:10px; padding-right:10px; padding-top:10px;"
            src="../../assets/img/empdp4.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Waiter/Waitress</h4>
            <p class="card-text">W.S.H.Weerasingha
            <p>
            <p class="card-text"><small class="text-muted">Joind in 2020</small></p>
            <a href="#" class="btn btn-primary" [routerLink]="['/empHome']">Edit Profile</a>
          </div>
        </div>

        <div class="card card text-center" style="padding-left:10px; padding-right:10px; padding-top:10px; margin-right: 10px; margin-left: 10px; margin-bottom: 10px; border-radius: 15px 15px 15px 15px;">
          <img class="card-img-top" style="padding-left:10px; padding-right:10px; padding-top:10px;"
            src="../../assets/img/empdp3.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Receptionists</h4>
            <p class="card-text">W.S.H.Weerasingha
            <p>
            <p class="card-text"><small class="text-muted">Joind in 2020</small></p>
            <a href="#" class="btn btn-primary" [routerLink]="['/empHome']">Edit Profile</a>
          </div>
        </div>
      </div>
    </tr>


  </table>

</div>
