
<table>

    <!-- <th><p style="text-align:center">Event,Weddings & Celebration</p></th> -->

<tr>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="../../assets/img/s11.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Event, Weedings & Celebratiom</h5>
      <p class="card-text">This is a special package with supporting Event below as a natural lead-in to additional content..</p>
      <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
      <a href="#" class="btn btn-primary">Book</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="../../assets/img/s22.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.This content is a little bit longer</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="../../assets/img/side2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</tr>


<tr>

  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/side2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="../../assets/img/side2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.This card has even longer </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="../../assets/img/side2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. .</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  </tr>


</table>
