<h2>Special offers</h2>
<div style= "background-color: cornflowerblue;">
<div class="card-deck">
  <div class="card">
    <a [routerLink]="['/roomNew']"><img class="card-img-top" src='../../assets/img/1.png' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">Deluxe rooms</h5>
      <h5 class="card-text">LKR:12000.00 </h5>
    </div>
    <div class="card-footer">

    </div>
  </div>
  <div class="card">
    <a [routerLink]="['/roomNew']"><img class="card-img-top" src='../../assets/img/2.png' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">Deluxe Rooms</h5>
      <h5 class="card-text">LKR:14000.00 </h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src='../../assets/img/3.png' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Deluxe Rooms</h5>
      <h5 class="card-text">LKR:15000.00 </h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src='../../assets/img/17.jpg' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Deluxe Rooms</h5>
      <h5 class="card-text">LKR:16000.00 </h5>
    </div>
    <div class="card-footer">

    </div>
  </div>
</div>

<h2>Looking for something else?</h2>


<table>
  <tr>
<div class="card-deck">
  <div class="card">
   <a [routerLink]="['/roomNew']"> <img class="card-img-top" src='../../assets/img/5.png' alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">Standard Rooms</h5>
      <h5 class="card-text">LKR:17000.00 </h5>
    </div>
    <div class="card-footer">

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src='../../assets/img/6.png' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Standard Rooms</h5>
      <h5 class="card-text">LKR:18000.00 </h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src='../../assets/img/18.png' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Standard Rooms</h5>
      <h5 class="card-text">LKR:19000.00 </h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src='../../assets/img/8.png' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Standard Rooms</h5>
      <h5 class="card-text">LKR:20000.00 </h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>
</tr>
<br><br>

<tr>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src='../../assets/img/9.png' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Supirior Rooms</h5>
      <h5 class="card-text">LKR:21000.00 </h5>
    </div>
    <div class="card-footer">

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src='../../assets/img/19.png' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Supirior Rooms</h5>
      <h5 class="card-text">LKR:22000.00 </h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src='../../assets/img/11.png' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Supirior Rooms</h5>
      <h5 class="card-text">LKR:23000.00 </h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src='../../assets/img/12.png' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Supirior Rooms</h5>
      <h5 class="card-text">LKR:24000.00 </h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>
</tr>
</table>

