<div style="background-color: #a7ffeb;">
<table>
<tr>
  <div style="background-color:royalblue;width:100%;height: 100px; padding-top: 15px;">
    <p class="h2" style="text-align:center">Available Packages</p>
  </div>
</tr>

<br>
<tr>
  <h4 style="text-align:left; padding-left: 20px; font-family: sans-serif; font-weight: 700; font-size: 20px;">
    Normal Packages(Local & Foreign Customer)</h4>
</tr>
<br>

<tr>

  <div class="card-group">

    <div class="card card text-center" style="padding-left:10px; padding-right:10px; padding-top:10px; margin-right: 10px; margin-left: 10px; border-radius: 15px 15px 15px 15px;">
      <img class="card-img-top" style="padding-left:10px; padding-right:10px; padding-top:10px;"
        src="../../assets/img/1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Family package</h5>
        <p class="card-text">4 Night on Doubloe sharing Basis </p>
        <p class="card-text">From 01 June 2020 to 03 june 2020 </p>
        <p class="card-text">LKR:12000.00 </p>
        <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
        <a href="#"  [routerLink]="['/packNew']"  class="btn btn-primary">Book</a>
      </div>
    </div>

      <div class="card card text-center" style="padding-left:10px; padding-right:10px; padding-top:10px; margin-right: 10px; margin-left: 10px; border-radius: 15px 15px 15px 15px;">
        <img class="card-img-top" style="padding-left:10px; padding-right:10px; padding-top:10px;"
          src="../../assets/img/2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> package</h5>
          <p class="card-text">4 Night on Doubloe sharing Basis </p>
          <p class="card-text">From 01 June 2020 to 03 june 2020 </p>
          <p class="card-text">LKR:12000.00 </p>
          <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
          <a href="#"  [routerLink]="['/packNew']"  class="btn btn-primary">Book</a>
        </div>
      </div>

      <div class="card card text-center" style="padding-left:10px; padding-right:10px; padding-top:10px; margin-right: 10px; margin-left: 10px; border-radius: 15px 15px 15px 15px;">
        <img class="card-img-top" style="padding-left:10px; padding-right:10px; padding-top:10px;"
          src="../../assets/img/3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Family package</h5>
          <p class="card-text">4 Night on Doubloe sharing Basis </p>
          <p class="card-text">From 01 June 2020 to 03 june 2020 </p>
          <p class="card-text">LKR:12000.00 </p>
          <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
          <a href="#"  [routerLink]="['/packNew']"  class="btn btn-primary">Book</a>
        </div>
      </div>
  </div>
</tr>

<br>
<tr>
  <h4 style="text-align:left; padding-left: 20px; font-family: sans-serif; font-weight: 700; font-size: 20px;">
    Special packages(Local & Foregin Customer)</h4>
</tr>
<br>

<tr>
<div class="card-group">

  <div class="card card text-center" style="padding-left:10px; padding-right:10px; padding-top:10px; margin-right: 10px; margin-left: 10px; border-radius: 15px 15px 15px 15px;">
    <img class="card-img-top" style="padding-left:10px; padding-right:10px; padding-top:10px;"
      src="../../assets/img/5.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Family package</h5>
      <p class="card-text">4 Night on Doubloe sharing Basis </p>
      <p class="card-text">From 01 June 2020 to 03 june 2020 </p>
      <p class="card-text">LKR:12000.00 </p>
      <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
      <a href="#"  [routerLink]="['/packNew']"  class="btn btn-primary">Book</a>
    </div>
  </div>

    <div class="card card text-center" style="padding-left:10px; padding-right:10px; padding-top:10px; margin-right: 10px; margin-left: 10px; border-radius: 15px 15px 15px 15px;">
      <img class="card-img-top" style="padding-left:10px; padding-right:10px; padding-top:10px;"
        src="../../assets/img/6.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Family package</h5>
        <p class="card-text">4 Night on Doubloe sharing Basis </p>
        <p class="card-text">From 01 June 2020 to 03 june 2020 </p>
        <p class="card-text">LKR:12000.00 </p>
        <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
        <a href="#"  [routerLink]="['/packNew']"  class="btn btn-primary">Book</a>
      </div>
    </div>

    <div class="card card text-center" style="padding-left:10px; padding-right:10px; padding-top:10px; margin-right: 10px; margin-left: 10px; border-radius: 15px 15px 15px 15px;">
      <img class="card-img-top" style="padding-left:10px; padding-right:10px; padding-top:10px;"
        src="../../assets/img/c55.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Family package</h5>
        <p class="card-text">4 Night on Doubloe sharing Basis </p>
        <p class="card-text">From 01 June 2020 to 03 june 2020 </p>
        <p class="card-text">LKR:12000.00 </p>
        <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
        <a href="#"  [routerLink]="['/packNew']"  class="btn btn-primary">Book</a>
      </div>
    </div>
</div>
</tr>

</table>
</div>
