
<div style="overflow-y: scroll; overflow-x: scroll; height: 100vh; width:100%">
  <body style="background-color: #ffffff; background-size: auto;">

    <div style="background-color: #6f84fc; width:100%;">
      <br><p class="h2" style="text-align:center" >Packages Booking Details</p><br>
      <td><a class="btn btn-danger pull-right" class="button2"(click)="downloadPDF()">Generate Report</a></td>
      <table id="table2">
      <tr>
      <th scope="col">Booking ID</th>
      <th scope="col">UserName</th>
      <th scope="col">NIC</th>
      <th scope="col">Check-In</th>
      <th scope="col">Check-Out</th>
      <th scope="col">Number of Adults</th>
      <th scope="col">Number of Children</th>
      <th scope="col">Special Requests</th>
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th>

      </tr>
        <tr *ngFor="let package of packages">
          <td>{{ package.pid}}</td>
          <td>{{ package.fname}}</td>
          <td>{{ package.lname}}</td>
          <td>{{ package.checkin}}</td>
          <td>{{ package.checkout}}</td>
          <td>{{ package.adults}}</td>
          <td>{{ package.nofch}}</td>
          <td>{{ package.des}}</td>

          <td><a class="btn btn-warning pull-right" style="width:80px;" [routerLink]="['/editp',package.pid]">EDIT</a></td>
          <td><a class="btn btn-danger pull-right" (click)="onDelete(package.pid)">DELETE</a></td>


        </tr>
    <!--  </tbody>  -->
    </table>
  </div>
  </body>
</div>
