
<table>

  <!-- <th><p style="text-align:center">Event,Weddings & Celebration</p></th> -->

<tr>
<div class="card-group">
<div class="card">
  <img class="card-img-top" src="../../assets/img/Havest.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Harvest Fresh (Pvt.) Ltd.</h5>
    <p class="card-text">Supplier: H. W. Samarasinghe</p>
    <p class="card-text"><small class="text-muted">ID: RG0011</small></p>
    <a href="#" class="btn btn-primary">View profile</a>
    <a href="#" class="btn btn-primary">Stock Orders</a>
    <a href="#" class="btn btn-primary">Delete Supplier</a>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="../../assets/img/Gp.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Vegetable Suppliers</h5>
    <p class="card-text">Supplier: G. P. Gunasekara</p>
    <p class="card-text"><small class="text-muted">ID: RG0012</small></p>
    <a href="#" class="btn btn-primary">View profile</a>
    <a href="#" class="btn btn-primary">Stock Orders</a>
    <a href="#" class="btn btn-primary">Delete Supplier</a>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="../../assets/img/Grocery.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">KMart Grocery Suppliers (Pvt.) Ltd.</h5>
    <p class="card-text">Supplier: G. N. A. Karunarathne</p>
    <p class="card-text"><small class="text-muted">ID: RG0013</small></p>
    <a href="#" class="btn btn-primary">View profile</a>
    <a href="#" class="btn btn-primary">Stock Orders</a>
    <a href="#" class="btn btn-primary">Delete Supplier</a>
  </div>
</div>
</div>
</tr>


<tr>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="../../assets/img/office.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Office Stationary Suppliers</h5>
      <p class="card-text">Supplier: K. D. Pradeep Kumar</p>
      <p class="card-text"><small class="text-muted">ID: 0017</small></p>
      <a href="#" class="btn btn-primary">View profile</a>
      <a href="#" class="btn btn-primary">Stock Orders</a>
      <a href="#" class="btn btn-primary">Delete Supplier</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="../../assets/img/Fur.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">St. Anthony's Furniture</h5>
      <p class="card-text">Supplier: W. P. Weerarathna</p>
      <p class="card-text"><small class="text-muted">ID: 0019</small></p>
      <a href="#" class="btn btn-primary">View profile</a>
      <a href="#" class="btn btn-primary">Stock Orders</a>
      <a href="#" class="btn btn-primary">Delete Supplier</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="../../assets/img/kitEqup.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Lee Trading & Packing Co. (Pvt.) Ltd</h5>
      <p class="card-text">Supplier: Shakthi Kandhasami</p>
      <p class="card-text"><small class="text-muted">ID: RG0022</small></p>
      <a href="#" class="btn btn-primary">View profile</a>
      <a href="#" class="btn btn-primary">Stock Orders</a>
      <a href="#" class="btn btn-primary">Delete Supplier</a>
    </div>
  </div>
</div>
</tr>


</table>
